replicaCount: 1

image:
  repository: nginx
  pullPolicy: IfNotPresent
  tag: ""
imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  automount: true
  annotations: {}
  name: ""

podAnnotations: {}
podLabels: {}
podSecurityContext: {}
securityContext: {}

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []

httpRoute:
  enabled: false
  annotations: {}
  parentRefs:
  - name: gateway
    sectionName: http
    hostnames:
  - chart-example.local
  rules:
  - matches:
    - path:
        type: PathPrefix
        value: /headers

resources: {}
livenessProbe:
  httpGet:
    path: /
    port: http
readinessProbe:
  httpGet:
    path: /
    port: http

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80

volumes: []
volumeMounts: []
nodeSelector: {}
tolerations: []
affinity: {}


filebeat:
  extraVolumes: [ ]
  extraVolumeMounts: [ ]
  secretMounts: [ ]
  indexManagement:
    enabled: false
  extraEnvs:
    - name: ELASTICSEARCH_HOSTS
      value: ""
  daemonset:
    enabled: true
    filebeatConfig:
      filebeat.yml: |
        filebeat.inputs:
        - type: container
          paths:
            - /var/log/containers/*.log
          processors:
            - decode_json_fields:
                fields: ["message"]
                target: ""
                overwrite_keys: true
            - add_kubernetes_metadata:
                host: ${NODE_NAME}

        output.kafka:
          hosts: ["my-cluster-kafka-bootstrap.infra.svc.cluster.local:9092"]
          topic: "spring-boot-logs"
          partition.round_robin:
            reachable_only: true
          required_acks: 1
          compression: gzip
