replicaCount: 1

image:
  repository: nginx
  pullPolicy: IfNotPresent
  tag: ""
imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  automount: true
  annotations: {}
  name: ""

podAnnotations: {}
podLabels: {}
podSecurityContext: {}
securityContext: {}

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []

httpRoute:
  enabled: false
  annotations: {}
  parentRefs:
  - name: gateway
    sectionName: http
    hostnames:
  - chart-example.local
  rules:
  - matches:
    - path:
        type: PathPrefix
        value: /headers

resources: {}
livenessProbe:
  httpGet:
    path: /
    port: http
readinessProbe:
  httpGet:
    path: /
    port: http

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80

volumes: []
volumeMounts: []
nodeSelector: {}
tolerations: []
affinity: {}

elasticsearch:
  enabled: true
  replicas: 1
  service:
    type: NodePort
    nodePort: 30200

logstash:
  enabled: true

  # 1. Logstash 내부 시스템이 엉뚱한 주소(http://elasticsearch)를 보지 않도록 설정
  logstashConfig:
    logstash.yml: |
      xpack.monitoring.enabled: false
      xpack.monitoring.elasticsearch.hosts: ["https://elasticsearch-master.infra.svc.cluster.local:9200"]
      xpack.monitoring.elasticsearch.username: "elastic"
      xpack.monitoring.elasticsearch.password: "KiDNBQtI8js4rmtZ"
      xpack.monitoring.elasticsearch.ssl.certificate_authority: "/usr/share/logstash/config/certs/ca.crt"

  pipeline:
    main.conf: |
      input {
        kafka {
          bootstrap_servers => "my-cluster-kafka-bootstrap.infra.svc.cluster.local:9092"
          topics => ["my-log-topic"]
          codec => "json"
          group_id => "logstash-group"
        }
      }
      output {
        elasticsearch {
          hosts => ["https://elasticsearch-master.infra.svc.cluster.local:9200"]
          user => "elastic"
          password => "KiDNBQtI8js4rmtZ"
          ssl => true
          ssl_certificate_verification => true
          cacert => "/usr/share/logstash/config/certs/ca.crt"
        }
      }

filebeat:
  daemonset:
    enabled: true
    filebeatConfig:
      filebeat.yml: |
        filebeat.inputs:
        - type: container
          paths:
            - /var/log/containers/*.log
          processors:
            - add_kubernetes_metadata:
                host: ${NODE_NAME}
            - decode_json_fields:
                fields: ["message"]
                target: ""
                overwrite_keys: true
        output.kafka:
          hosts: ["my-cluster-kafka-bootstrap.infra.svc.cluster.local:9092"]
          topic: "my-log-topic"
