replicaCount: 1

image:
  repository: nginx
  pullPolicy: IfNotPresent
  tag: ""
imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  automount: true
  annotations: {}
  name: ""

podAnnotations: {}
podLabels: {}
podSecurityContext: {}
securityContext: {}

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []

httpRoute:
  enabled: false
  annotations: {}
  parentRefs:
  - name: gateway
    sectionName: http
    hostnames:
  - chart-example.local
  rules:
  - matches:
    - path:
        type: PathPrefix
        value: /headers

resources: {}
livenessProbe:
  httpGet:
    path: /
    port: http
readinessProbe:
  httpGet:
    path: /
    port: http

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80

volumes: []
volumeMounts: []
nodeSelector: {}
tolerations: []
affinity: {}

elasticsearch:
  enabled: true
  replicas: 1
  service:
    type: NodePort
    nodePort: 30200

logstash:
  enabled: true
  extraVolumes:
    - name: es-certs
      secret:
        secretName: elasticsearch-master-certs # ES 설치 시 생성된 Secret 이름
  extraVolumeMounts:
    - name: es-certs
      mountPath: /usr/share/logstash/config/certs
      readOnly: true

  # 2. 로그스태시 자체 시스템 설정 (라이선스 체크 에러 해결)
  logstashConfig:
    logstash.yml: |
      http.host: "0.0.0.0"
      xpack.monitoring.enabled: false
      xpack.management.enabled: false

  # 3. 실제 로그 수집 파이프라인 설정
  pipeline:
    main.conf: |
      input {
        kafka {
          bootstrap_servers => "my-cluster-kafka-bootstrap.infra.svc.cluster.local:9092"
          topics => ["my-log-topic"]
          codec => "json"
          group_id => "logstash-group"
        }
      }
      output {
        elasticsearch {
          hosts => ["https://elasticsearch-master.infra.svc.cluster.local:9200"]
          user => "elastic"
          password => "KiDNBQtI8js4rmtZ"
          # SSL 설정 정석
          ssl => true
          ssl_certificate_verification => true
          cacert => "/usr/share/logstash/config/certs/ca.crt"
          index => "k8s-logs-%{+YYYY.MM.dd}"
        }
      }

#logstash:
#  enabled: true
#  pipeline:
#    main.conf: |
#      input {
#        kafka {
#          bootstrap_servers => "my-cluster-kafka-bootstrap.infra.svc.cluster.local:9092"
#          topics => ["my-log-topic"]
#          codec => "json"
#          group_id => "logstash-group"
#        }
#      }
#      output {
#        elasticsearch {
#          hosts => ["http://elasticsearch-master.infra.svc.cluster.local:9200"]
#          index => "k8s-logs-%{+YYYY.MM.dd}"
#        }
#      }


filebeat:
  daemonset:
    enabled: true
    filebeatConfig:
      filebeat.yml: |
        filebeat.inputs:
        - type: container
          paths:
            - /var/log/containers/*.log
          processors:
            - add_kubernetes_metadata:
                host: ${NODE_NAME}
            - decode_json_fields:
                fields: ["message"]
                target: ""
                overwrite_keys: true
        output.kafka:
          hosts: ["my-cluster-kafka-bootstrap.infra.svc.cluster.local:9092"]
          topic: "my-log-topic"
