replicaCount: 1

image:
  repository: nginx
  pullPolicy: IfNotPresent
  tag: ""
imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  automount: true
  annotations: {}
  name: ""

podAnnotations: {}
podLabels: {}
podSecurityContext: {}
securityContext: {}

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []

httpRoute:
  enabled: false
  annotations: {}
  parentRefs:
  - name: gateway
    sectionName: http
    hostnames:
  - chart-example.local
  rules:
  - matches:
    - path:
        type: PathPrefix
        value: /headers

resources: {}
livenessProbe:
  httpGet:
    path: /
    port: http
readinessProbe:
  httpGet:
    path: /
    port: http

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80

volumes: []
volumeMounts: []
nodeSelector: {}
tolerations: []
affinity: {}

logstash:
  logstashConfig:
    logstash.yml: |
      http.host: "0.0.0.0"
      pipeline.ordered: auto

  pipeline:
    main.conf: |
      input {
        kafka {
          bootstrap_servers => "my-cluster-kafka-bootstrap:9092"
          topics => ["spring-boot-logs"]
          codec => "json"
          group_id => "logstash-group"
        }
      }
      filter {
        # 여기서 추가적인 데이터 가공 가능 (예: 특정 필드 삭제)
        if [kubernetes][container][name] == "infra" {
          mutate { add_tag => ["nginx-logs"] }
        }
      }
      output {
        elasticsearch {
          hosts => ["http://elasticsearch-master:9200"]
          index => "k8s-logs-%{+YYYY.MM.dd}"
        }
      }

elasticsearch:
  replicas: 1 # 테스트용이므로 1개만 (운영은 3개 권장)
  minimumMasterNodes: 1
  resources:
    requests: { cpu: "500m", memory: "1Gi" }
    limits: { cpu: "1000m", memory: "2Gi" }
  esConfig:
    elasticsearch.yml: |
      xpack.security.enabled: false
      xpack.security.http.ssl.enabled: false
      xpack.security.transport.ssl.enabled: false

kibana:
  protocol: http
  secretMounts:
    - name: elasticsearch-master-certs
      secretName: elasticsearch-master-certs
      path: /usr/share/kibana/config/certs
  kibanaConfig:
    kibana.yml: |
      server.host: "0.0.0.0"
      elasticsearch.hosts: ["http://elasticsearch-master:9200"]
      elasticsearch.ssl.verificationMode: none
  service:
    type: NodePort # 외부 접속을 위해 NodePort나 Ingress 설정
    port: 5601


filebeat:
  extraVolumes: [ ]
  extraVolumeMounts: [ ]
  secretMounts: [ ]
  indexManagement:
    enabled: false
  extraEnvs:
    - name: ELASTICSEARCH_HOSTS
      value: ""
  daemonset:
    enabled: true
    filebeatConfig:
      filebeat.yml: |
        filebeat.inputs:
        - type: container
          paths:
            - /var/log/containers/*.log
          # 이 부분에 아래 설정을 추가하여 경로 미스매치를 해결합니다.
          processors:
            - add_kubernetes_metadata:
                host: ${NODE_NAME}
                matchers:
                  - logs_path:
                      logs_path: "/var/log/containers/"
            - decode_json_fields:
                fields: ["message"]
                target: ""
                overwrite_keys: true

        output.kafka:
          hosts: ["my-cluster-kafka-bootstrap.infra.svc.cluster.local:9092"]
          topic: "spring-boot-logs"
          partition.round_robin:
            reachable_only: true
          required_acks: 1
          compression: gzip
