apiVersion: apps/v1
kind: Deployment
metadata:
  name: logstash
  namespace: infra
spec:
  replicas: 1
  selector:
    matchLabels:
      app: logstash
  template:
    metadata:
      labels:
        app: logstash
    spec:
      containers:
        - name: logstash
          image: docker.elastic.co/logstash/logstash:8.12.0
          env:
            - name: ELASTIC_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: infra-es-es-elastic-user
                  key: elastic
            - name: CONFIG_RELOAD_AUTOMATIC
              value: "true"
            - name: CONFIG_RELOAD_INTERVAL
              value: "60s"
          ports:
            - containerPort: 5044
          volumeMounts:
            - name: config-volume
              mountPath: /usr/share/logstash/pipeline
      volumes:
        - name: config-volume
          configMap:
            name: logstash-config
