apiVersion: v1
kind: ConfigMap
metadata:
  name: logstash-config
  namespace: log
data:
  logstash.conf: |
    input {
      kafka {
        bootstrap_servers => "my-cluster-kafka-bootstrap.kafka.svc:9092"
        topics => ["k8s-logs"]
        group_id => "logstash-group"
        codec => "json"
        consumer_threads => 3
        decorate_events => true
      }
    }

    filter {
      if [message] =~ /^\{.*/ {
        json {
          source => "message"
          target => "app_log" # 앱 로그 필드들을 app_log 하위로 모으거나, 생략 시 루트로 풀림
        }
      }

      date {
        match => [ "[app_log][timestamp]", "ISO8601" ]
        target => "@timestamp"
      }

      fingerprint {
        source => ["@timestamp", "[kubernetes][pod][name]", "message"]
        target => "[@metadata][fingerprint]"
        method => "SHA1"
        key => "my_secret_key"
      }
    }

    output {
      elasticsearch {
        hosts => ["https://infra-es-es-http.log.svc:9200"]
        user => "elastic"
        password => "${ELASTIC_PASSWORD}"
        ssl_certificate_verification => false
        index => "k8s-logs-%{+YYYY.MM.dd}"
        document_id => "%{[@metadata][fingerprint]}"
      }
    }
