apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: prometheus-stack
  namespace: argocd
spec:
  project: default
  source:
    chart: kube-prometheus-stack
    repoURL: https://prometheus-community.github.io/helm-charts
    targetRevision: 61.3.1
    helm:
      parameters:
        - name: "grafana.service.type"
          value: "NodePort"
        - name: "grafana.adminPassword"
          value: "admin"
        - name: "prometheus.prometheusSpec.serviceMonitorSelectorNilUsesHelmValues"
          value: "false"
  destination:
    server: https://kubernetes.default.svc
    namespace: infra
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
